Package: sixarm-debian-desktop-packages
Version: 1.0.3
Section: devel
Priority: optional
Architecture: all
Depends: sixarm-debian-pidgin-packages, alarm-clock, amarok, anki, avidemux, backintime-gnome, blender, boinc-manager, calibre, cd-discid, cdparanoia, cheese, clamtk, cups-pdf, ekiga, electricsheep, ffmpeg, flac, gbrainy, gpointing-device-settings, gizmo5, gnome-shell, gparted, gufw, hamster-applet, inkscape, istanbul, jokosher, karbon, kexi, kget, kivio, kplato, krita, lame, lastfm, libdvdcss2, libdvdread4, libtunepimp5-mp3, linuxdcpp, miro, mnemosyne, mp3gain, network-manager-pptp, non-free-codecs, normalize-audio, ntp, openssh-server, parcellite, ruby, ruby-gnome2, samba, scribus, sound-juicer, sshfs, solang, sysfsutils, twinkle, ubuntu-restricted-extras, unetbootin, vorbisgain, wine, xclip, xmondad
Maintainer: Joel Parker Henderson <joel@sixarm.com>
Description: Desktop packages we like to use
 Desktop packages we like to use together.







